* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

section {
    height: 100%;
}

.four_columns {
    column-count: 4;
    list-style: none;
}